<!--<footer class="footer fixed-bottom center-block">-->
  <!--<span class="copyright">Copyright (c) <a href="http://social-investment.co.jp">株式会社ソーシャルインベストメント</a> All rights reserved.</span>-->
<!--</footer>-->
