<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!-- saved from url=(0032)http://ai-fp.com/pt/privacy.html -->
<html xmlns="http://www.w3.org/1999/xhtml" lang="ja">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width,user-scalable=no,maximum-scale=1">
  <%- include('../../components/favicon') %>
  <title>プライバシーポリシー</title>
  <meta http-equiv="Content-Style-Type" content="text/css">
  <meta http-equiv="Content-Script-Type" content="text/javascript">
  <link rel="stylesheet" href="/pt_assets/css/reset.css">
  <link rel="stylesheet" href="/pt_assets/css/common.css">
  <link rel="stylesheet" href="/pt_assets/css/tokutei.css">
</head>
<body>
<div id="warpper">
  <h1>プライバシーポリシー</h1>
  <p>本ページでは「<span class="container">株式会社ソーシャルインベストメント</span>」（以下弊社）の収集した個人情報の取り扱いについてのポリシーをお知らせしております。弊社は、弊社を信頼して個人情報を提供してくださった皆様との信頼関係を何よりも大切にします。その信頼を失わないために、どのような場合にも、このプライバシーポリシーに則り、皆様の個人情報の取扱には細心の注意を払っています。弊社の商品をご購入された場合や弊社に個人情報を登録していただいた場合は、弊社のプライバシーポリシーにご同意くださったものと考えさせていただきますので、本プライバシーポリシーの内容を熟読してご理解下さい。<br>
    <br>
    ・弊社は、個人情報の取扱いに関する法令、国が定める指針その他の規範を遵守いたします。<br>
    ・弊社は、必要かつ適切なセキュリティ対策を講じることにより、弊社の取扱う個人情報の漏洩滅失又は、棄損の防止及び是正に努めます。<br>
    ・弊社は、個人情報の取扱いに関して、本人からの苦情及び相談を受付けて、適切な対応を行います。<br>
    ・弊社は、本方針を含む弊社における個人情報保護マネジメントシステムの継続に努めます。</p>

  <h3>■個人情報の入手方法 </h3>

  <h4>お客様がご自身で提供していただいた情報</h4>
  <p>
    弊社が受領する個人識別情報の多くは、弊社の各種商品や有料・無料のサービスを取得することに関心のあるお客様から直接提供していただいたものです。これらの情報には通常、お客様の氏名、住所、電子メールアドレス、電話番号が含まれます。</p>


  <h4>ITによって収集される情報</h4>
  <p>私共はお客様にとってより使いやすいサービスを提供するためにITを用いて情報を収集します。例えば、お客様が私共のサイトのいずれかを閲覧したときに、私共は、お客様のIPアドレスを収集します。
    IPアドレスは、お客様のインターネットサービスプロバイダー、会社又は大学などのようにお客様がインターネットに接続するためのポータルに関係しています。
    IPアドレスのみでは個人を識別できません。私共は、お客様がサイトを閲覧した回数に関する情報を収集するために、IP
    アドレスを利用することもあり、この情報を個人識別情報と考えます。弊社のウェブサイトではクッキー（cookies）も利用します。クッキーとはウェブサイト閲覧中にウェブサイトからお客様のコンピューターに転送されるデータのことです。弊社は様々な目的でクッキーを利用しています。</p>

  <h4>他者から収集した情報</h4>
  <p>
    弊社はお客様から直接収集した個人識別情報の他に、第三者から個人の情報を入手することもあります。弊社は、取得した情報を自ら収集した情報と同じように取り扱い、このプライバシーポリシーで許諾される場合を除いて、かかる情報を第三者と共有しません。</p>


  <h3>■個人情報の利用目的</h3>
  <h4>ご購入・ご登録いただいた商品・サービスのお申し込みの確認やお届けするため</h4>
  <p>* 教材などのご購入の確認やお届けをするため<br>
    * イベント/セミナーのお申し込みの確認や入場券などをお届けするため<br>
    * 電子メール配信サービスのお申し込みの確認やメールを配信するため<br>
    * 各種会員制サービスへの登録の確認やサービスを提供するため<br>
    * 各種商品・サービスのご請求、お支払いとその確認をするため<br>
    * ご購読いただいている定期刊行物の継続購読などのご案内をお届けするため<br>
    * ご要望いただいた広告掲載会社への資料請求などを仲介するため<br>
    * ご協力いただいた調査に対して謝礼などをお送りするため<br>
    * ご応募いただいた懸賞などに対する景品等をお送りするため</p>
  <h4>ご利用いただいている商品・サービスの提供・改良や、新たなサービスを開発するため</h4>
  <p>* 商品・サービス、ウエブ・サイトなどの内容を皆さまがよりご満足いただけるよう改良するため<br>
    * 商品・サービス、ウエブ・サイトなどの内容を個々の利用者に合わせてカスタマイズするため<br>
    * 皆さまが注文された情報や商品などに関する満足度を調査するため<br>
    * 個人情報を統計的に処理した情報を集約し調査結果として公表するため<br>
    * 皆さまの利用状況を把握し、サービスの改善や新サービスの開発に役立てるため</p>
  <h4>提供している商品・サービスに関連した情報をお届けするため</h4>
  <p>* 定期刊行物、書籍、デジタル・コンテンツ、各種会員制サービス、その他各種サービスのご案内をお届けするため<br>
    * 調査のご協力や各種イベントへのご参加をお願いしたり、その結果などをご報告するため<br>
    * 商品・サービス、ウエブ・サイトなどの利用状況を把握し、皆さまに有益と思われる情報や調査などをお届けするため<br>
    * 弊社が有益と判断する、弊社及び第三者の、商品･サービスに関する情報を提供するため</p>

  <h3>■個人情報保護のためのセキュリティー対策</h3>
  <p>
    弊社はお客様の情報の安全と秘密保持を最も重要なものと考え、お客様の情報を不正アクセスや不正利用から保護するための技術的、管理上及び物理的セキュリティ対策を実施しています。弊社は、適切な新しい技術や方法を検討するために適宜セキュリティ対策を見直しますが、100％安全なセキュリティ対策は存在しないことをご了承ください。</p>

  <h3>■第三者への提供について</h3>
  <p>
    弊社は、皆さまのご承諾がない限り収集した個人情報を第三者に提供いたしません。弊社以外の企業/団体から皆さまに有益と思われる情報のお届けを代行する場合にも、皆さまのご承諾がない限り個人情報はそうした企業/団体には開示・提供いたしません。</p>
  <p>ただし、皆さまが弊社経由で当社以外の企業/団体に対して情報提供、サービス提供、商品の注文、応募、接触、仲介をご依頼いただいた場合や、それらの企業
    /団体が関係する展示会/セミナーの申し込みをされた場合、また広告掲載会社などへの資料請求の仲介を弊社に依頼された場合などには、当該企業/団体に個人情報を開示・提供することがあります。</p>
  <p>
    商品や有料サービスの料金を決済する場合に、金融機関などとの間で個人情報を交換することがあります。金融機関の口座番号の正当性やクレジットカードの有効性を確認するためです。また、法律に基づき開示しなければならない場合や、弊社と皆さまの権利/財産/安全などを保護/防御するために必要であると合理的に判断できる場合には、個人情報を開示することがあります。</p>

  <h3>■個人情報の管理と委託について</h3>
  <p>
    収集した個人情報は、弊社のプライバシーポリシーに則り、厳正な管理下で安全に取り扱います。弊社では、当社が信頼に足ると判断し個人情報の守秘義務契約を結んだ企業に、業務の一部として個人情報の取り扱いを委託する場合がありますが、この場合にも、皆様の個人情報は弊社のプライバシーポリシーのもとで保護されま</p>

  <h3>■登録情報の訂正</h3>
  <p>
    弊社は、皆さまの個人情報をできるだけ正確かつ最新の内容で管理します。皆さまからお申し出があったときは、登録情報の開示を行います。また、内容が正確でないなどのお申し出があったときは、その内容を確認し必要に応じて登録情報の追加・変更・訂正または削除（退会）等を行います。ただし、登録を削除すると提供できない商品・サービスが発生する場合があります。情報の修正や削除は、セキュリティー強化の観点から原則弊社担当者が行います</p>

  <h3>■このようなケースにご注意下さい</h3>
  <p>弊社の各サイトは、外部のサイトへのリンクを含んでいます。弊社は、リンク先のサイトにおける個人情報保護や、サイトの内容に関して責任を負いかねます。</p>

  <h3>■ＩＰアドレスやクッキーの利用について</h3>
  <p>弊社は、ログに記録された利用者の皆さまのIPアドレスを、主として下記の目的で利用します。</p>
  <p>* サーバーで発生した問題の原因を突き止め解決するため<br>
    * サイト管理のため</p>
  <p>
    弊社の各サイトは、クッキーを使用することがあります。クッキーは、サイトが利用者のブラウザに送信する小規模の情報で、利用者のディスクにファイルとして格納されることもあります。クッキーの使用により、サイトは利用者がどのページを訪れたかなどを記録できます。また、会員制のサイトなどでは、クッキーと利用者の皆さまが登録された情報を組み合わせてサービスを提供する場合があります。
    弊社は、主として下記の目的でクッキーを利用します。</p>
  <p>* 利用者の皆さまの「買い物カゴ」の移動を追跡するため<br>
    * 利用者の皆さまが会員制サービスを利用される際、毎回パスワードを入力しなくてもすむようにするため<br>
    * ウエブ・サイトや電子メールなどの内容を利用者の皆さまがより満足いただけるよう改良したり、 個々の利用者に合わせてカスタマイズしたりするため<br>
    * 利用者の皆さまの関心事に合わせてサービスを提供するため<br>
    * 利用者の皆さまに同じ広告を何度もお見せしないように制御したり、有益と思われる情報をお見せするよう調節したりするため</p>
  <p>クッキーの利用で入手した情報を統計的に処理した集約情報を公表することがあります。これには、個々の利用者を識別できる情報は含みません。</p>
  <p>
    利用者の皆さまは、ブラウザの設定により、クッキーの受け取りを拒否したり、クッキーを受け取ったとき警告を表示させたりできます。弊社の各サイトのサービスには、クッキーなしではサービス内容に制限が発生したり利用できない場合もあります。</p>

  <h3>■第三者からのクッキーについて</h3>
  <p>
    弊社では、サイト管理、アクセス状況の計測のため、一部、第三者企業の計測システムを利用しています。また、弊社のウエブ・サイトやメールマガジンに掲載される広告には、一部、第三者企業の広告配信サーバーを利用しているものがあります。それら第三者の企業は、より効率的に広告を配信するため、広告効果を測定するため、またアクセス状況の計測のために、クッキーを使用することがあります。これらのシステムにおいても、事前調査の上、クッキーについてはすべて弊社の使用基準を守っていることを確認しており、ユーザー個人を特定することはありません。</p>
  <p>
    広告配信のクッキーを受け入れない設定にしたり、保存されたクッキーを削除したりしても、弊社の各サイト内のコンテンツ閲覧には支障はありませんが、繰り返し同じ広告が画面上に現れたり、画面上に拡がる広告が何回も出たりすることがあります。</p>
  <h3>■プライバシーポリシーの変更</h3>
  <p>
    ライバシーポリシーは随時変更されます。個人情報の収集、利用及び/又は共有方法に重要な変更を行う場合には、このプライバシーポリシーが対象とするウェブサイトの目立つ場所に掲載することによってお知らせします。このプライバシーポリシーに関する重要な変更はこのプライバシーポリシーが対象とするウェブサイトに通知を掲載した日から有効となります。このプライバシーポリシーの変更は、弊社からの変更通知前にお客様が提供した個人情報の利用に影響を及ぼすことになります。弊社の個人情報の利用に関する変更に同意できない場合には、個人情報削除の意向を弊社に通知しなければなりません。</p>
  <p>2013年12月制定<br>
    <span class="container">株式会社ソーシャルインベストメント</span></p>
</div>

<div id="footer">
  Copyright c <span class="container">株式会社ソーシャルインベストメント</span>, All Rights Reserved.
</div>
</body>
</html>
