<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!-- saved from url=(0032)http://ai-fp.com/pt/tokutei.html -->
<html xmlns="http://www.w3.org/1999/xhtml" lang="ja">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="robots" content="noindex">
  <%- include('../../components/favicon') %>
  <meta name="viewport" content="width=device-width,user-scalable=no,maximum-scale=1">

  <title>特定商取引に基づく表記</title>
  <meta http-equiv="Content-Style-Type" content="text/css">
  <meta http-equiv="Content-Script-Type" content="text/javascript">
  <link rel="stylesheet" href="/pt_assets/css/reset.css">
  <link rel="stylesheet" href="/pt_assets/css/common.css">
  <link rel="stylesheet" href="/pt_assets/css/tokutei.css">
</head>
<body>
<div id="warpper">
  <h1>特定商取引に基づく表記</h1>
  <table>
    <tbody>
    <tr>
      <th>販売業者</th>
      <td>株式会社ソーシャルインベストメント</td>
    </tr>
    <tr>
      <th>代表取締役</th>
      <td>山本弘史</td>
    </tr>
    <tr>
      <th>住所</th>
      <td>東京都江東区東陽5丁目28番6号　TSビル　3階B室階</td>
    </tr>
    <tr>
      <th>電話番号</th>
      <td>03-6659-8980<br></td>
    </tr>
    <tr>
      <th>E-mail</th>
      <td>support＠ai-fp.com<br></td>
    </tr>
    <tr>
      <th>表現及び再現性の注意書き</th>
      <td>本商品に示された表現や再現性には個人差があり、必ずしも利益や効果を保証したものではございません。</td>
    </tr>
    <tr>
      <th>お支払い方法（年間一括払い）</th>
      <td>１ライセンス：398,000円（税込）1年毎の自動課金</td>
    </tr>
    <tr>
      <th>お支払い方法（月額）</th>
      <td>１ライセンス：39,800円（税込）1ヶ月毎の自動課金</td>
    </tr>
    <tr>
      <th>代金の支払方法</th>
      <td>クレジット決済</td>
    </tr>
    <tr>
      <th>商品の引渡時期</th>
      <td>クレジット決済確認後３営業日以内</td>
    </tr>
    <tr>
      <th>表現及び再現性の注意書き</th>
      <td>本商品に示された表現や再現性には個人差があり、必ずしも利益や効果を保証したものではございません。</td>
    </tr>
    <tr>
      <th>返品、返金について</th>
      <td>システム利用サービス提供のため事務局までお問い合わせください。経過月に応じた按分として対応させていただきます。</td>
    </tr>
    <tr>
      <th>個人情報の取り扱いについて</th>
      <td>個人情報に関しましては、弊社で厳正な管理の下で安全に蓄積・保管しております。当該個人情報は法律によって要求された場合、権利や財産を保護する必要が生じた場合を除き、第三者に提供する事はありません。</td>
    </tr>
    <tr>
      <th>プライバシー保護</th>
      <td>個人情報に関しましては、弊社で厳正な管理の下で安全に蓄積・保管しております。当該個人情報は法律によって要求された場合、権利や財産を保護する必要が生じた場合を除き、第三者に提供する事はありません。</td>
    </tr>
    <tr>
      <th>投資に係るリスクおよび<br>
        手数料について
      </th>
      <td>当商品は、著者と同じような利益が出ることを保証するものではありません。取引は価格変動リスクを伴いますので、
        場合によっては損失を被る可能性があります。取引には取引業者の売買手数料がかかります。<br></td>
    </tr>
    </tbody>
  </table>
</div>
<div id="footer">
  Copyright © 株式会社ソーシャルインベストメント, All Rights Reserved.
</div>


</body>
</html>
